:root{

    --brightYellow: #e38505;
    --darkBrown:#bb9457;
    --yellow:rgb(242, 180, 80);
    --brown: #382923;
    --black: #191919;
    --gray: #a982ac;
}


*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{

    font-family: 'Lato', sans-serif;
    background: linear-gradient(rgba(255,255,255,0.85),rgba(255,255,255,0.85))
    ,url('../images/Background_Travel.jpeg');
    color:var(--black);
}

/* Global Styles */

.bell-fonts{
    font-family: 'La Belle Aurore', cursive;
}


/* Section Padding */

.section-padding{
    padding: 3rem 0;
}


/* Grid Container */

.grid-container{

    max-width:90vw;
    margin: 2rem auto;
    display:grid;
    grid-row-gap: 2rem;
}

@media screen and (min-width:768px){

    .grid-container--medium-2{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 4rem;
    }

    .grid-container{

        max-width:75vw;
        
    }
}


/* Section Title */

.section-title{

    padding: 1rem .5rem;
}

.section-title__name{

    font-size: 3rem;
    text-transform: capitalize;
}

.section-title__underline{

    background: var(--yellow);
    width: 5rem;
    height: .25rem;
}

.section-title__text{

    letter-spacing: .1rem;
    line-height: 1.5;
    margin-top: 1rem;
    color:var(--gray);
}


.section-title--left{

    margin-left:10rem;
}

/* End of Global Styles */


/* Preloader Section */

.preloader{

    position: fixed;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    background: var(--brightYellow);
    z-index: 999;
    display: grid;
    justify-content: center;
    align-items: center;
}

/* End of Preloader Section */


/* Header Section */

.header{

    height: 100vh;
    display: grid;
    grid-template-columns: 80%;
    justify-content: center;
    align-items: center;
    position: relative;
}

@media screen and (max-width:768px){

    .header{
        background: url('../images/Header_Image_Background.jpeg');
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
      
    }
}

/* End of Header Section */


/* Banner Section */

.banner{

    text-align: center;
    z-index: 3;
}

.banner__title{

    font-size: 4rem;
    text-transform: capitalize;
    color:var(--black);
}


@media screen and(min-width:768px){

    .banner__title{

        font-size: 9rem;
    }
}

.banner__social-icon{

    display:block;
    text-decoration: none;
    color: var(--black);
    border: .1rem solid var(--black);
    border-radius: 50%;
    padding: .25rem;
    transition: all .5s linear;
}

.banner__social-icon:hover{
    background: var(--brightYellow);
    color: var(--black);
}

.banner__icons{

    width: 50%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4,2rem);
    grid-column-gap: .5rem;
    justify-content: center;
}

/* End of Banner Section */


/* Video */

.video__container{

    position: absolute;
    top:0px;
    left:0px;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.video__item{

    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* End of Video */


/* Navigation Button */

.navBtn{

    position: fixed;
    top:5%;
    right: 5%;
    font-size: 1.5rem;
    color:var(--black);
    cursor: pointer;
    animation-name: pulse;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

/* End of Navigation Button */


/* Navigation Button Animation */

@keyframes pulse{

    0%{

        transform: scale(1)
    }

    50%{

        transform: scale(1.3)

    }

    100%{

        transform: scale(1)

    }
}

/* End of Navigation Button Animation */


/* Navigation */

.nav{

    position: fixed;
    top:0;
    left: 0;
    height: 100%;
    width: 0;
    background: rgba(233, 231, 228, 0.9);
    z-index: 3;
    overflow: hidden;
    transition: all .5s linear;
}

.nav--show{

    width: 8.5rem;
}

.nav__links{

    list-style-type: none;
}

.nav__single-link{

    display: block;
    text-decoration: none!important;
    text-transform: capitalize;
    color:var(--brown);
    font-size: 1.5rem;
    padding: .5rem 1.5rem;
    transition: all .5s ease-in-out; 
}


.nav__single-link:hover{

    background: var(--brown);
    color:rgba(242,180,80,0.9);
    padding-left: 1rem;
}

/* End of Navigation */


/* About Us Section */

.about-container{

    display:grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr;
    grid-gap:2rem;
}

.about__img-item{

    width:100%;
    display:block;
    height: 100%;
    border-radius: .25rem;
}

@media screen and (min-width:768px){

    .about__img-special{

        order: -1;
    }

    .about-container{

        grid-template-rows: 1fr 1fr;
    }
}


/* End of About Us Section*/


/* Subscribe Section */

.discount{

    background: var(--brown);
    color:var(--brightYellow);
    text-transform: capitalize;
}

.discount-form, .discount-card{

    text-align: center;
    display: grid;
    grid-template-columns: 70%;
    justify-content: center;
    grid-row-gap: 1.25rem;
}

.discount-form__feedback{

    border:.1rem solid var(--brightYellow);
    padding: .25rem;
    display: none;
}

.error{

    display: block;
    color:red;
    border-color: red;
}

.success{

    display:block;
    color:green;
    border-color:green;
}

.discount__form-title, .subscribe-card__title{

    font-size:3rem;
}

.input-name, .input-lastname, .input-email{

    width:100%;

}

.input-name, .input-lastname, .input-email, .input-submit{

    font-size: 1rem;
    border-radius: .5rem;
    padding: .25rem .5rem;
    background: rgba(111,87,77,0.6);
    color:var(--darkBrown);
    border:none;
    outline: none;
}


.input-name::placeholder, .input-lastname::placeholder, .input-email::placeholder{

    color:white;
    
}

.input-submit{

    background: var(--yellow);
    color:var(--black);
    transition: all .5s linear;
    cursor: pointer;
    text-transform: uppercase;
}

.input-submit:hover{

    opacity: .5;
}

.discount-card__list{

    display:grid;
    grid-template-columns: 100%;
    grid-row-gap: 2rem;
}

.person{

    display:grid;
    grid-template-columns: auto auto 1fr;
    align-items: center;
    text-align: left;
    grid-gap: 1rem;
    border: .1rem solid rgba(111,87,77,0.6);
    padding: 1rem;
    border-radius: 1rem;
    font-size: 1.5rem;
}

.person__thumbnail{
    border-radius: 50%;
}


@media screen and (min-width:768px){

    .discount-card__list{

        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
    }
}

/* End of Subscribe Section */


/* Work / Images Section */

.work-container{

    max-width: 90vw;
    margin: 2rem auto;
}


.work-item__img{

    width:100%;
    height:100%;
    display:block;
    transition: all 1s linear;
    opacity: 1;
}


.work-item{

    background: linear-gradient(var(--yellow),var(--yellow));
    overflow: hidden;
    position: relative;
}


.work-item:hover .work-item__img{

    opacity: 0.5;
    transform: scale(1.2);
}

.work-item__icon{

    position: absolute;
    color:var(--brightYellow);
    top:50%;
    left:50%;
    display: inline-block;
    font-size: 4rem;
    text-decoration: none;
    transition: all .5s ease;
    transform: scale(0);
}


.work-item:hover .work-item__icon{

    transform: scale(1.3) translate(-50%,-50%);
}

.work-item__icon:hover{

    color:var(--brown);
    cursor: pointer;
}

@media screen and (min-width:576px){

    .work-container{

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
    }
}


@media screen and (min-width:992px){

    .work-container{

        height: 100vh;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(4,1fr);
        grid-template-areas:
        "one one two three" 
        "one one four four" 
        "five six seven seven" 
        "eight nine seven seven" 

    }

    .item-1{

        grid-area: one;
    }

    .item-2{

        grid-area: two;
    }

    .item-3{

        grid-area: three;
    }

    .item-4{

        grid-area: four;
    }

    .item-5{

        grid-area: five;
    }

    .item-6{

        grid-area: six;
    }

    .item-7{

        grid-area: seven;
    }

    .item-8{

        grid-area: eight;
    }

    .item-9{

        grid-area: nine;
    }

}


/* End  of Work / Images Section */


/* Modal */

.work-modal{

    display: none;
}



.work-modal--show{

    position: fixed;
    background: rgba(0,0,0,0.5);
    top:0;
    left:0;
    bottom: 0;
    right: 0;
    z-index: 999;
    display: grid;
    justify-content: center;
    align-items: center;
}


.work-modal__item{

    background: url('../images/travel-1.jpg')center/cover;
    height: 70vh;
    width: 80vw;
    border:.5rem solid var(--yellow);
    border-radius: .4rem;

}


@media screen and (min-width:768px){

.work-modal__item{

    height: 80vh;
    width: 60vw;
}

}

.work-modal__close{

    position: fixed;
    font-size: 3rem;
    color:var(--white);
    bottom:5%;
    right: 5%;
    transition: color .5s linear; 
    cursor: pointer;
    text-decoration: none!important;
    display: inline-block;
}

.work-modal__close:hover{

    color:red;
}

/* End of Modal */


/* Contact Section Section */

.contact-container{

    max-width: 90vw;
    margin:0 auto;
    display: grid;
    grid-row-gap: 1rem;
}


.contact-info{

    display:grid;
    justify-content: center;
}

.contact-item{

    margin:1rem 0;
    padding: .5rem;
}

.contact-item__icon{

    font-size: 3rem;
    color:var(--yellow);
}

.contact-item__title{

    text-transform: uppercase;
    margin:.5rem 0;
    letter-spacing: .25rem;
    font-style: italic;
}

.contact-item__text{

    font-size: 1rem;
    text-transform: uppercase;
    color:var(--gray);
}


@media screen and (min-width:768px){

    .contact-info{

        grid-template-columns: repeat(3,1fr);
        order: -1;
    }
}

/* @media screen and (min-width:992px){

    .contact-info{

        grid-template-columns: 1fr;
        order: 0;
    }

    .contact-container{

        display:grid;
        grid-template-columns: 2fr 1fr;
        grid-column-gap: 2rem;
    }

    .contact-map{

        align-self: center;
    }
} */


/* End of Contact Section Section */